import React, { ReactNode } from "react";
import Link from "next/link";
import { Eye } from "lucide-react";
import { useSearchParams } from "next/navigation";
import { useQuery } from "@tanstack/react-query";

import { api } from "@/services";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { Button } from "@/components/ui/button";
import Layout from "@/components/layout";
import <%= resourceNames.classify %><% if (isTypescript) { %>, { Props as <%= resourceNames.classify %>Props }<% } %> from "@/components/<%= resource %>";

export default function <%= resourceNames.classify %>Page() {
  const searchParams = useSearchParams();
  const notice = searchParams.get("notice");

  const { isPending, error, data } = useQuery<% if (isTypescript) { %><<%= resourceNames.classify %>Props[]><% } %>({
    queryFn: () => api.get("/<%= resources %>").then((res) => res.data),
    queryKey: ["<%= resources %>"],
  });

  if (isPending) {
    return "Loading...";
  } else if (error) {
    return "An error has occurred: " + error.message;
  }

  return (
    <div className="prose mx-auto w-full lg:max-w-5xl">
      {notice && <p style={{ color: "green" }}>{notice}</p>}

      <h1><%= titleize(resources) %></h1>

      <Table>
        <TableHeader>
          <TableRow>
            <TableHead>ID</TableHead>
            <%_ attributes.forEach(function({ name, type }) { _%>
            <TableHead><%= name %></TableHead>
            <%_ }) _%>
            <TableHead className="text-right">Actions</TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {data.map((<%= resource %>) => (
            <TableRow key={post.id}>
              <TableCell>{<%= resource %>.id}</TableCell>
              <%_ attributes.forEach(function({ name, type }) { _%>
              <TableCell>{<%= resource %>.<%= name %>}</TableCell>
              <%_ }) _%>
              <TableCell className="text-right">
                <Link href={`/<%= resources %>/${<%= resource %>.id}`}>
                  <Button size="sm" variant="ghost">
                    <Eye /> Show
                  </Button>
                </Link>
              </TableCell>
            </TableRow>
          ))}
        </TableBody>
      </Table>

      <div className="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
        <Link href="/<%= resources %>/new">
          <Button>New <%= resource %></Button>
        </Link>
      </div>
    </div>
  );
}

<%= resourceNames.classify %>Page.getLayout = function getLayout(yeild: ReactNode) {
  return <Layout>{yeild}</Layout>;
};
