<% if (isAppRouter) { %>"use client";<% } _%>

import React from "react";
import Link from "next/link";
<% if (isAppRouter) { _%>
import { useRouter } from "next/navigation";
<% } else { _%>
import { useRouter } from "next/router";
<% } _%>
import { useMutation, useQueryClient } from "@tanstack/react-query";

import { api } from "@/services";
import { FormProvider } from "@/providers";
<% if (isTypescript) { %>import { Props as <%= resourceNames.classify %>Props } from "@/components/<%= resource %>";<% } %>
import <%= resourceNames.classify %>Form, { resolver } from "@/components/<%= resource %>-form";

export default function <%= resourceNames.classify %>NewPage() {
  const router = useRouter();
  const queryClient = useQueryClient();

  const { isPending: isCreating, mutateAsync } = useMutation({
    mutationFn: (data<% if (isTypescript) { %>: <%= resourceNames.classify %>Props<% } %>) => api.post("/<%= resources %>", data),
    onSuccess: ({ data }) => {
      const query = new URLSearchParams({ notice: "Created with success." });

      queryClient.invalidateQueries({ queryKey: ["<%= resources %>"] });
      router.push(`/<%= resources %>?${query.toString()}`);
    },
  });

  return (
    <>
      <h1>New <%= resource %></h1>

      <FormProvider resolver={resolver} values={{}} onSubmit={mutateAsync}>
        <<%= resourceNames.classify %>Form />

        <div>
          <button disabled={isCreating} type="submit">
            Create
          </button>
        </div>
      </FormProvider>

      <br />

      <div>
        <Link href="/<%= resources %>">Back to <%= resources %></Link>
      </div>
    </>
  );
}
